// Remove shadow under navbar
.navbar {
  box-shadow: none;
}

// Full width Portfolio filter toolbar
.btn-toolbar .btn-group {
  flex: 1;
}

// Custom section spacing
.home-section {
  padding: 1.5rem 0 1.5rem 0;
}

.section-heading {
  margin-bottom: 3rem !important;
}

// Center CTA button
.cta-group {
  justify-content: center;
}


//For particle on hero
#particles-js {
  width: 100% !important;
  height: 100% !important;
  background-color: none;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  z-index: -10;
  top: 0; right: 0; bottom: 0; left: 0;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 49vw;
    z-index: -15;
    pointer-events: none;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -20;
}

.videobox {
  z-index: -20;
}

.videocover {
  width: 100%;
  height: 100%;
  background: rgba(130, 133, 133, 0.47) none no-repeat local 1px 0px;
  z-index: 10;
}
