// Remove shadow under navbar
.navbar {
  box-shadow: none;
}

// Full width Portfolio filter toolbar
.btn-toolbar .btn-group {
  flex: 1;
}

// Custom section spacing
.home-section {
  padding: 1.5rem 0 1.5rem 0;
}

.section-heading {
  margin-bottom: 3rem !important;
}

// Center CTA button
.cta-group {
  justify-content: center;
}

#tsparticles {
  width: 100% !important;
  height: 100% !important;
  background-color: none;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  z-index: -1;
  top: 0; right: 0; bottom: 0; left: 0;

}
#particles-js {
  width: 100% !important;
  height: 100% !important;
  background-color: none;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  z-index: -1;
  top: 0; right: 0; bottom: 0; left: 0;

}
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}