// Remove shadow under navbar
.navbar {
  box-shadow: none;
}

// Full width Portfolio filter toolbar
.btn-toolbar .btn-group {
  flex: 1;
}

// Custom section spacing
.home-section {
  padding: 1.5rem 0 1.5rem 0;
}

.section-heading {
  margin-bottom: 3rem !important;
}

// Center CTA button
.cta-group {
  justify-content: center;
}

.embed {
  position: relative; 
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    pointer-events: none; // Disable ability to click video to pause if used as a background
  }
  
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  pointer-events: none; // Disable ability to click video to pause if used as a background
}

#tsparticles {
  width: 100% !important;
  height: 100% !important;
  background-color: none;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  z-index: -1;
  top: 0; right: 0; bottom: 0; left: 0;

}
#particles-js {
  width: 100% !important;
  height: 100% !important;
  background-color: none;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  z-index: -1;
  top: 0; right: 0; bottom: 0; left: 0;

}
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}