<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dencho.dev</title>
     <!-- Plugin CSS -->
    
     <!--link type="text/css" href="assets/css/anime-pong.css" rel="stylesheet"/-->
     <!-- Plugin JS -->
     <!--script type="text/javascript" src="assets/js/OverlayScrollbars.min.js"></script-->
     <!-- Reveal plugin-->
     <script src="https://unpkg.com/scrollreveal"></script>
     <!-- Particle plugin-->
     <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
     <!--script src="https://cdn.jsdelivr.net/npm/tsparticles@1.32.0/tsparticles.min.js"></script-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

     <script async src="https://www.youtube.com/iframe_api"></script>
    <!--link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet"-->
    <!--link href="assets/demo.css" rel="stylesheet"-->
    <!--script src="assets/json-preview.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /-->
  
    
  <script>
   
    $(document).ready(function(){
      $("iframe").children(".iframe__bottom").css({
        "display": "none",
        "border-style": "inset"
      });
      $('iframe .iframe__bottom').each(function(i){
          i.css("display", "none");
      });
    });
    $(document).onload(function(){
      $("iframe").children(".iframe__bottom").css({
        "display": "none",
        "border-style": "inset"
      });
      $('iframe .iframe__bottom').each(function(i){
          i.css("display", "none");
      });
    });
</script>
  </head>